.logo {
  margin: 30px auto 0 auto;
  display: block;
}

.nav-menu {
  margin: 30px auto 0 auto;
  width: 480px;
  align-content: center;
}

ul {
  padding: 0px;
  width: 95%;
  margin: auto;
}

li {
  display: inline;
  margin: 0 30px;
  padding-bottom: 7px;
}

li:hover {
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #333333;
}

app-shopping-cart {
  float: right;
  width: 50px;
  margin: -70px 30px 0 0;
}
